.ticker {
  --gap: 75px;
  display: flex;
  overflow: hidden;
  padding-block: 50px;
  gap: var(--gap);
  align-items: center;
  border-top: var(--border);
  border-bottom: var(--border);

  &:hover &__list {
    animation-play-state: paused;
  }

  @include tablet {
    padding-block: 38px;
  }

  &__list {
    display: flex;
    gap: var(--gap);
    align-items: center;
    min-width: 100%;
    flex-shrink: 0;

    animation: scroll 20s linear infinite;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    white-space: nowrap;
    color: var(--color-dark-20);
    transition: 0.2s ease;

    &::before {
      content: "";
      display: inline-block;
      background-image: url(../asset/svg/ticker/star.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
    }

    @include hover {
      color: var(--color-brown-70);
    }
  }

  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}
